@import "../../common/style/colors";
@import "../../common/style/template";
@import "../../common/style/mixins";

.home{
  padding: 40px 20px;

  .container{
    @extend %container;
  }

  &_title{
    color: $color-white;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
  }

  @media (max-width: 570px) {
    &_title {
      @include title_fs_bp(40px);
    }

  }

  @media (max-width: 450px) {
    &_title {
      @include title_fs_bp(25px);
    }
  }

  @media (max-width: 350px) {
    padding: 20px;

    &_title {
      @include title_fs_bp(22px);
    }
  }
}