@import "../../common/style/colors";
@import "../../common/style/template";

.header {
  padding: 50px 0;

  .container {
    @extend %container;
  }

  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 50px;
  }

  &_link:focus, &_logo:focus {
    outline: 0;
    outline-offset: 0;
  }

  &_link {
    max-width: 140px;
    width: 100%;

    padding: 15px 30px;
    border: 2px solid $color-white;
    border-radius: 5px;

    color: $color-white;

    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
  }
}
