@import "../../common/style/colors";
@import "../../common/style/template";

.login {
  padding: 40px 20px;

  .container {
    @extend %container;
  }

  &_title {
    margin-bottom: 20px;

    color: $color-white;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
  }

  &_form {
    max-width: 500px;
    width: 100%;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
  }

  &_wrapper {
    position: relative;
  }

  &_input {
    @extend %input;
    margin-bottom: 25px;
    &_text {
      @extend %input_text;

      &::after {
        @extend %input_text_after;
      }
    }

    &_correct {
      @extend %input_correct;

      &_text {
        color: $color-light-green;
        &::after {
          @extend %input_correct_text_after;
        }
      }
    }

    &_error_text {
      color: $color-red;
      &::after {
        @extend %input_error_text_after;
      }
    }
  }

  &_btn {
    @extend %btn;
  }
}
