@import "../../common/style/colors";
@import "../../common/style/template";
@import "../../common/style/mixins";

.login {
  padding: 40px 20px;

  .container {
    @extend %container;
  }

  &_title {
    margin-bottom: 20px;

    color: $color-white;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
  }

  &_form {
    max-width: 500px;
    width: 100%;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
  }

  &_wrapper {
    position: relative;
  }

  &_input {
    @extend %input;
    margin-bottom: 25px;
    &_text {
      @extend %input_text;
      &_password {
        top: 40px;
      }

      &::after {
        @extend %input_text_after;
      }
    }

    &_correct {
      @extend %input_correct;

      &_text {
        color: $color-light-green;
        &::after {
          @extend %input_correct_text_after;
        }
      }
    }

    &_error_text {
      color: $color-red;
      &::after {
        @extend %input_error_text_after;
      }
    }
  }

  &_btn {
    @extend %btn;
  }

  @media (max-width: 570px) {
    &_title {
      margin-bottom: 30px;

      @include title_fs_bp(40px);
    }
  }

  @media (max-width: 450px) {
    &_title {
      @include title_fs_bp(25px);
    }
  }

  @media (max-width: 350px) {
    padding: 20px;

    &_title {
      @include title_fs_bp(22px);
    }
  }
}

.box_input_password {
  position: relative;
}

.btn_show_password {
  @extend %btn_show_password;

  &_on {
    background-image: url("../../../public/static/images/eye.svg");
  }

  &_off {
    background-image: url("../../../public/static/images/eye-off.svg");
  }
}
